body
{
    background-color:black;
}
.num{
    font-size: 60px;
    animation: anima 4s infinite;
}
@keyframes anima
{
    0%{text-shadow: 3px 3px RED;}
    25%{text-shadow: 2px 2px BLUE;}
    50%{text-shadow: 3px 3px RED;}
    75%{text-shadow: 2px 2px BLUE;}
    100%{text-shadow: 3px 3px RED;}
}
.binary{
    background-image:URL(../IMAGES/binary.gif);
    border:3px solid BLACK;
    box-shadow: 0 0 10px RED, 0 0 30px BLUE;
    font-size: 3rem;
    height:16rem;
}
.decimal{
    background-image:URL(../IMAGES/decimal.gif);
    border:3px solid BLACK;
    box-shadow: 0 0 10px RED, 0 0 30px BLUE;
    font-size: 3rem;
    height:16rem;
}
.octal{
    background-image:URL(../IMAGES/octal.gif);
    background-position: center;
    background-size: 50%;
    border:3px solid BLACK;
    box-shadow: 0 0 10px RED, 0 0 30px BLUE;
    font-size: 3rem;
    height:16rem;
}
.box
{
    background-color: WHITE;
    border:3px solid BLACK;
    box-shadow: 0 0 10px RED, 0 0 30px BLUE;
    font-size: 3rem;
    height:16rem;
}
button{
    width:150px;
}
.whole
{
    background: WHITE;
}
.text
{
    text-shadow: 4px 2px red;
}
